url=https://api.your-datasign.test/
keycloak.issuerUri=https://your-keycloak/realms/your-realm
keycloak.clientId=your-client-id
keycloak.clientSecret=your client secret
example.signProvider=
example.sealProvider=
example.userId=
example.certificateId=
example.sealId=
example.timestampProvider=
example.signatureAlgorithm=
